@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import 'variables/variables';
@import 'sections/table/table';
@import 'sections/add-edit-modal/add_edit';
@import 'sections/delete-modal/delete';

body { 
    background-color: #f5f5f5;
    font-family: $font;
    padding: $padding-modal;
}
