$font: 'Varela Round', sans-serif;
$padding-modal: 20px 30px;

$color-white: #fff;
$bg-color-header-table: #435d7d;
$bg-color-add-bttn: #5cb85c;
$bg-color-add-bttn-hover: #479647;
$border-table-elements: #e9e9e9;

$color-icon-delete: #f5564a;
$color-icon-edit: #ffc720;

$background-form: #fefefe;
$border-color-form: #888;
$close-icon-color: #aca5a5;
$opacity-modal: rgba(0,0,0,0.5); 
$cancel-bttn-color: #333333;
$bg-color-delete-bttn: #d9534f;
$color-form: #566787;
$border-color-input: #d4d4d4;
$bg-color-save-bttn: #5bc0de ;