.container-table{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: auto;
    width: 91%;

    .header { 
        background-color: $bg-color-header-table;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        h4 {
            color: $color-white;
            margin-left: 30px;
            font-size: 23px;
        }
        
        .button-add-employee {
            background-color: $bg-color-add-bttn;
            color:$color-white;
            font-size: 14px;
            height: 30px;
            width: 180px;
            border: none;
            border-radius: 2px;
            font-family: $font;
            margin-right: 30px;
            cursor: pointer;
            
            &:hover{
                background-color: $bg-color-add-bttn-hover;
            }
        }
    }
    
    .container-input{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        background-color:$color-white;
        padding: 22px;
        
        .input-filter{
            height: 30px;
            width: 330px;
            border-radius: 5px;
            border: 2px solid $border-table-elements;
            padding-left: 11px;
            font-size: 15px;
            font-family: $font;

            &::placeholder {
                color: #a7a4a4;
                opacity: 1;
            }
        }
    }
    
    .table-content {
        display:flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;
        background-color: $color-white;
        padding: 22px;
        padding-top: 0px;
        color:#566787;
        
        .table {
            width: 95%;
            border-collapse: collapse;
            
            .table-header {
                border-bottom: 2px solid $border-table-elements;
                height: 50px;
                text-align: left;
                font-size: 13px;
                
                .table-checkbox {
                    width:30px;
                    height: 30px;
                    border: 1px solid #a7a4a4;
                }
            }
            
            .table-employee-info {
                height: 50px;
                text-align: left;
                font-size: 13px;
                border-top: 1px solid $border-table-elements;
                
                &:hover{
                background-color: #f5f5f5;
                
                }
            }
            
            .edit-icon {
                color: $color-icon-edit;
                cursor: pointer;
                zoom: 115%;
            }
            
            .delete-icon {
                color: $color-icon-delete;
                cursor: pointer;
                zoom: 115%;
            }
        }
    }
}

